<div class="container" data-controller="flash">
  <% AdminFlash.showable_messages(disabled_flash_ids_from_cookies).each do |admin_flash|  %>
    <div class="alert alert-success fade show admin-flash">
      <button class="close "data-expire="<%= admin_flash.expires %>" data-id="<%= admin_flash.id %>" data-dismiss="alert" data-action="click->flash#setCookie" data-flash-target="close">&times;</button>
      <%= admin_flash.message.html_safe %>
    </div>
  <% end %>
</div>
<div>
<span data-hello-target="output">
  </span>
  </div>  